.side_ankerpane{
    -fx-background-color: #190482;
    background-color: #190482;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
}
.inner_pane{
    -fx-background-color: #A3A5FE;
    background-color:   #A3A5FE;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #A3A5FE;
    border-color: #A3A5FE;
}
.most_inner_pane{
    -fx-background-color: #8980FB;
    background-color:   #8980FB;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8980FB;
    border-color: #8980FB;

}
.btn_IniciarTodolosViajes{
    -fx-background-color: #8980FB;
    background-color:   #8980FB;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8980FB;
    border-color: #8980FB;

}
.btn_RutasenCurso{
    -fx-background-color: #130364;
    background-color: #130364;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #130364;
    border-color: #130364;  
}
.btn_IniciarViaje1{
    -fx-background-color: #130364;
    background-color: #130364;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #130364;
    border-color: #130364;   
}
.btn_IniciarViaje2{
    -fx-background-color: #130364;
    background-color: #130364;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #130364;
    border-color: #130364;   
}
.btn_IniciarViaje3{
    -fx-background-color: #130364;
    background-color: #130364;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #130364;
    border-color: #130364;   
}

.btn_GenerarViaje{
    -fx-background-color: #443AA2;
    background-color: #443AA2;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;  
}
.btn_historial{
    -fx-background-color: #443AA2;
    background-color: #443AA2;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;  
}
.btn_CargarRutas{
    -fx-background-color: #FFFFFF;
    background-color: #FFFFFF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;  
}
.HBox_Viaje1{
    -fx-background-color: #FFFFFF;
    background-color: #FFFFFF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;     
}
.HBox_Viaje2{
    -fx-background-color: #FFFFFF;
    background-color: #FFFFFF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;     

}
.HBox_Viaje3{
    -fx-background-color: #FFFFFF;
    background-color: #FFFFFF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;     

}





.btn_EditarDistancia{
    -fx-background-color: #FFFFFF;
    background-color: #FFFFFF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;  
}
.tbl_Recorridos{
    -fx-background-color: #C2D9FF;
    background-color: #C2D9FF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #C2D9FF;
    border-color: #C2D9FF;  
}
.tbl_historial{

    -fx-background-color: #C2D9FF;
    background-color: #C2D9FF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #C2D9FF;
    border-color: #C2D9FF;  

}
.btn_cancelar{
    -fx-background-color: #443AA2;
    background-color: #443AA2;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2;  
}
.btn_guardar{
    -fx-background-color: #443AA2;
    background-color: #443AA2;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2; 
}
.distanciafield{
    -fx-background-color: #C2D9FF;
    background-color: #C2D9FF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #C2D9FF;
    border-color: #C2D9FF;  
}
.idfield{
    -fx-background-color: #C2D9FF;
    background-color: #C2D9FF;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #C2D9FF;
    border-color: #C2D9FF;  
}
.btn_generarviaje{
    -fx-background-color: #443AA2;
    background-color: #443AA2;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #443AA2;
    border-color: #443AA2; 
}
.ComboBox_PuntoInicial{
    -fx-background-color: #8980FB;
    background-color: #8980FB;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8980FB;
    border-color: #8980FB;  
}
.ComboBox_PuntoFinal{
    -fx-background-color: #8980FB;
    background-color: #8980FB;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8980FB;
    border-color: #8980FB;  
}
.ComboBox_TipodeTransporte{
    -fx-background-color: #8980FB;
    background-color: #8980FB;
    -fx-border-width: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8980FB;
    border-color: #8980FB;  
}